<% provide(:title, 'All albums') %>
<h1>All albums</h1>

<ul class="albums">
  <% @albums.each do |album|%>
    <li>
      <%= album.name %>
      <%= link_to "edit", edit_admin_album_path(album) %>
      <%= link_to "delete", [:admin, album], method: :delete,
      data: { confirm: "You sure?" } %>
      <%= image_tag album.image if album.image.attached? %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
