<%= form_for([:admin, @song]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name,class: "form-control" %>
  <%= f.label :audio %>
  <%= f.file_field :audio %>
  <%= f.label :album_id %>
  <%= f.select(:album_id, @albums.collect{|item| [item.name, item.id]}) %>
  <%= f.label :country_id %>
  <%= f.select(:country_id, @countries.collect{|item| [item.name, item.id]}) %>
  <div class = "collection-check-boxes">  
    <%= f.collection_check_boxes :category_ids, Category.all,:id, :name %>
  </div>
  <%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
