<div class = "col-md-12">
  <div class = "d-flex justify-content-between mb-3 box1 music-listen-title" style = "line-height: 33px; align-items: center">
    <h2 class = "title"><%= @song.name %></h2>
    <span class = "d-flex listen">
      Views: <%= @song.view %>
    </span>
  </div>
  <% @song.artists.each do |artist| %>
    <%= link_to artist.name, artist %>
  <% end %>
</div>
<div class = "song">
  <div class = "player">
    <div class = "imgSg">
      <%= image_tag @song.image if @song.image.attached? %>
    </div>
    <audio src="<%= audio_path rails_blob_url @song.audio %>" type="audio/mpeg" controls>
  </div>
</div>
<h3>Recomended for you</h3>
<div class = "cards row">
  <% @related_songs.each do |song| %>
    <div class="card col-md-2" class = "songs">
      <%= image_tag song.image %>
      <%= link_to song.name, song %>
    </div>
  <% end %>
</div>
